<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ferdouszislam.nsu.cse486.sec01.homemealapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeMealApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserTypeChoiceActivity" />
        <activity
            android:name=".CommonLoginActivity"
            android:parentActivityName=".UserTypeChoiceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserTypeChoiceActivity" />
        </activity>
        <activity
            android:name=".chef.ChefSignupActivity"
            android:parentActivityName=".UserTypeChoiceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserTypeChoiceActivity" />
        </activity>
        <activity android:name=".chef.ChefHomeActivity" />
        <activity
            android:name=".chef.ChefAddFoodOfferActivity"
            android:parentActivityName=".chef.ChefHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chef.ChefHomeActivity" />
        </activity>
        <activity
            android:name=".chef.ChefCreateFoodVariantActivity"
            android:parentActivityName=".chef.ChefHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chef.ChefHomeActivity" />
        </activity>
        <activity
            android:name=".chef.ChefMenuActivity"
            android:parentActivityName=".chef.ChefHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chef.ChefHomeActivity" />
        </activity>
        <activity
            android:name=".chef.ChefSCPaymentActivity"
            android:parentActivityName=".chef.ChefMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chef.ChefMenuActivity" />
        </activity>
        <activity
            android:name=".chef.ChefUpdateProfileActivity"
            android:parentActivityName=".chef.ChefMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chef.ChefMenuActivity" />
        </activity>
        <activity
            android:name=".chef.ChefPlacedOrdersActivity"
            android:parentActivityName=".chef.ChefMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chef.ChefMenuActivity" />
        </activity>
        <activity
            android:name=".customer.CustomerSignupActivity"
            android:parentActivityName=".CommonLoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CommonLoginActivity" />
        </activity>
        <activity android:name=".customer.CustomerHomeActivity" />
        <activity
            android:name=".customer.CustomerMenuActivity"
            android:parentActivityName=".customer.CustomerHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer.CustomerHomeActivity" />
        </activity>
        <activity
            android:name=".customer.CustomerPlacedOrdersActivity"
            android:parentActivityName=".customer.CustomerMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer.CustomerMenuActivity" />
        </activity>
        <activity
            android:name=".customer.CustomerUpdateProfileActivity"
            android:parentActivityName=".customer.CustomerMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer.CustomerMenuActivity" />
        </activity>
        <activity android:name=".customer.CustomerPlaceOrderActivity" />
        <activity
            android:name=".customer.CustomerPaymentActivity"
            android:parentActivityName=".customer.CustomerPlacedOrdersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer.CustomerPlacedOrdersActivity" />
        </activity>
    </application>

</manifest>