<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ferdouszislam.nsu.cse486.sec01.homemealapp">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeMealApp">
        <activity android:name=".commonActivities.BaseActivity"></activity>

        <service
            android:name=".services.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:process=":notification_service" />
        <service
            android:name=".services.NotificationJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ferdouszislam.nsu.cse486.sec01.homemealapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".commonActivities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".commonActivities.UserTypeChoiceActivity" />
        <activity
            android:name=".commonActivities.CommonLoginActivity"
            android:parentActivityName=".commonActivities.UserTypeChoiceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".commonActivities.UserTypeChoiceActivity" />
        </activity>
        <activity
            android:name=".chef.activities.ChefSignupActivity"
            android:parentActivityName=".commonActivities.UserTypeChoiceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".commonActivities.UserTypeChoiceActivity" />
        </activity>
        <activity android:name=".chef.activities.ChefHomeActivity" />
        <activity
            android:name=".chef.activities.ChefAddFoodOfferActivity"
            android:parentActivityName=".chef.activities.ChefHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chef.activities.ChefHomeActivity" />
        </activity>
        <activity
            android:name=".chef.activities.ChefCreateFoodVariantActivity"
            android:parentActivityName=".chef.activities.ChefHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chef.activities.ChefHomeActivity" />
        </activity>
        <activity
            android:name=".chef.activities.ChefMenuActivity"
            android:parentActivityName=".chef.activities.ChefHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chef.activities.ChefHomeActivity" />
        </activity>
        <activity
            android:name=".chef.activities.ChefSCPaymentActivity"
            android:parentActivityName=".chef.activities.ChefMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chef.activities.ChefMenuActivity" />
        </activity>
        <activity
            android:name=".chef.activities.ChefUpdateProfileActivity"
            android:parentActivityName=".chef.activities.ChefMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chef.activities.ChefMenuActivity" />
        </activity>
        <activity
            android:name=".chef.activities.ChefPlacedOrdersActivity"
            android:parentActivityName=".chef.activities.ChefMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chef.activities.ChefMenuActivity" />
        </activity>
        <activity
            android:name=".customer.activities.CustomerSignupActivity"
            android:parentActivityName=".commonActivities.CommonLoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".commonActivities.CommonLoginActivity" />
        </activity>
        <activity android:name=".customer.activities.CustomerHomeActivity" />
        <activity
            android:name=".customer.activities.CustomerFoodOfferDetailsActivity"
            android:parentActivityName=".customer.activities.CustomerHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer.activities.CustomerHomeActivity" />
        </activity>
        <activity
            android:name=".customer.activities.CustomerMenuActivity"
            android:parentActivityName=".customer.activities.CustomerHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer.activities.CustomerHomeActivity" />
        </activity>
        <activity
            android:name=".customer.activities.CustomerPlacedOrdersActivity"
            android:parentActivityName=".customer.activities.CustomerMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer.activities.CustomerMenuActivity" />
        </activity>
        <activity
            android:name=".customer.activities.CustomerUpdateProfileActivity"
            android:parentActivityName=".customer.activities.CustomerMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer.activities.CustomerMenuActivity" />
        </activity>
        <activity android:name=".customer.activities.CustomerPlaceOrderActivity" />
        <activity
            android:name=".customer.activities.CustomerPaymentActivity"
            android:parentActivityName=".customer.activities.CustomerPlacedOrdersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer.activities.CustomerPlacedOrdersActivity" />
        </activity>
        <activity android:name=".appSettings.SettingsActivity" />
    </application>

</manifest>